.videoCard {
  position: relative;
  background-color: #000000;
  height: 600px;
  width: 100%;
  scroll-snap-align: start;
}

.videoCard__video {
  background-color: #000;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}
